altair                    5.5.0       Vega-Altair: A declarative statistical visualization library for Python.
attrs                     25.3.0      Classes Without Boilerplate
blinker                   1.9.0       Fast, simple object-to-object and broadcast signaling
cachetools                6.1.0       Extensible memoizing collections and decorators
certifi                   2025.7.14   Python package for providing Mozilla's CA Bundle.
charset-normalizer        3.4.2       The Real First Universal Charset Detector. Open, modern and actively maintained alternative to Chardet.
click                     8.2.1       Composable command line interface toolkit
colorama                  0.4.6       Cross-platform colored terminal text.
datetime                  5.5         This package provides a DateTime data type, as known from Zope. Unless you need to communicate with Zope APIs, you're probably better off using Python's built-in datetime module.
gitdb                     4.0.12      Git Object Database
gitpython                 3.1.45      GitPython is a Python library used to interact with Git repositories
idna                      3.10        Internationalized Domain Names in Applications (IDNA)
jinja2                    3.1.6       A very fast and expressive template engine.
jsonschema                4.25.0      An implementation of JSON Schema validation for Python
jsonschema-specifications 2025.4.1    The JSON Schema meta-schemas and vocabularies, exposed as a Registry
markupsafe                3.0.2       Safely add untrusted strings to HTML/XML markup.
narwhals                  1.48.1      Extremely lightweight compatibility layer between dataframe libraries
numpy                     2.3.2       Fundamental package for array computing in Python
packaging                 25.0        Core utilities for Python packages
pandas                    2.3.1       Powerful data structures for data analysis, time series, and statistics
pillow                    11.3.0      Python Imaging Library (Fork)
protobuf                  6.31.1     
pyarrow                   21.0.0      Python library for Apache Arrow
pydeck                    0.9.1       Widget for deck.gl maps
python-dateutil           2.9.0.post0 Extensions to the standard Python datetime module
pytz                      2025.2      World timezone definitions, modern and historical
referencing               0.36.2      JSON Referencing + Python
requests                  2.32.4      Python HTTP for Humans.
rpds-py                   0.26.0      Python bindings to Rust's persistent data structures (rpds)
setuptools                80.9.0      Easily download, build, install, upgrade, and uninstall Python packages
six                       1.17.0      Python 2 and 3 compatibility utilities
smmap                     5.0.2       A pure Python implementation of a sliding window memory map manager
streamlit                 1.47.1      A faster way to build and share data apps
tenacity                  9.1.2       Retry code until it succeeds
toml                      0.10.2      Python Library for Tom's Obvious, Minimal Language
tornado                   6.5.1       Tornado is a Python web framework and asynchronous networking library, originally developed at FriendFeed.
typing-extensions         4.14.1      Backported and Experimental Type Hints for Python 3.9+
tzdata                    2025.2      Provider of IANA time zone data
urllib3                   2.5.0       HTTP library with thread-safe connection pooling, file post, and more.
watchdog                  6.0.0       Filesystem events monitoring
zope-interface            7.2         Interfaces for Python